@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bruno+Ace+SC&family=Honk:MORF@15&family=Iceberg&family=Quantico&family=Silkscreen:wght@400;700&family=Sixtyfour+Convergence&family=Special+Elite&family=Syne+Mono&display=swap');
 body {
    background-color: rgb(15, 14, 14);
}

#titulo{
    a {
    position: absolute;
    left: 42%;
    bottom: 50%;
    animation-name: tituloanimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    color: whitesmoke;
    text-decoration: none;
    font-size: 200%
 }
}

@keyframes tituloanimation {
  0%   {font-family: "Iceberg", sans-serif;}
  10%  {font-family: "Silkscreen", sans-serif;}
  20%  {font-family: "Bruno Ace SC", sans-serif;}
  30%  {font-family: "Audiowide", sans-serif;}
  40%  {font-family: "Quantico", sans-serif;}
  50%  {font-family: "Bitcount Grid Double Ink", system-ui;}
  60%  {font-family: "Syne Mono", monospace;}
  70%  {font-family: "Sixtyfour Convergence", sans-serif;}
  80%  {font-family: "Special Elite", system-ui;}
  90%  {font-family: "Honk", system-ui;}
  100% {font-family: "Bitcount Grid Double Ink", system-ui;}
}

p{
  font-family: "Syne Mono", monospace;
  color: whitesmoke;
  font-size: 200%;
}

#contenido {
  display:flex;
  padding-top: 40vh;
  flex-direction: column;
  align-items: center;
}

.texto {
  margin-bottom: 120vh;
}

.opciones {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 35vh;
}

h2{
  font-family: "Syne Mono", monospace;
  color: rgb(255, 40, 40);
  position: relative;
  font-size: 300%;
}

