@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bruno+Ace+SC&family=Honk:MORF@15&family=Iceberg&family=Quantico&family=Silkscreen:wght@400;700&family=Sixtyfour+Convergence&family=Special+Elite&family=Syne+Mono&display=swap');
 body {
    background-color: rgb(15, 14, 14);
}

#titulo{
    a {
    position: absolute;
    left: 42%;
    bottom: 50%;
    animation-name: tituloanimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    color: whitesmoke;
    text-decoration: none;
    font-size: 200%
 }
}

@keyframes tituloanimation {
  0%   {font-family: "Iceberg", sans-serif;}
  10%  {font-family: "Silkscreen", sans-serif;}
  20%  {font-family: "Bruno Ace SC", sans-serif;}
  30%  {font-family: "Audiowide", sans-serif;}
  40%  {font-family: "Quantico", sans-serif;}
  50%  {font-family: "Bitcount Grid Double Ink", system-ui;}
  60%  {font-family: "Syne Mono", monospace;}
  70%  {font-family: "Sixtyfour Convergence", sans-serif;}
  80%  {font-family: "Special Elite", system-ui;}
  90%  {font-family: "Honk", system-ui;}
  100% {font-family: "Bitcount Grid Double Ink", system-ui;}
}

p{
  font-family: "Syne Mono", monospace;
  color: whitesmoke;
  font-size: 200%;
}

#contenido {
  display:flex;
  padding-top: 40vh;
  flex-direction: column;
  align-items: center;
}

.texto {
  margin-bottom: 120vh;
}

.opciones {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 40, 40);
  padding-top: 10vh;
  padding-bottom: 35vh;
}

h2 {
  font-family: "Syne Mono", monospace;
  position: relative;
  font-size: 300%;
  text-decoration: none;
}

h1 {
  font-family: "Syne Mono", monospace;
  color: whitesmoke;
  font-size: 200%;
  text-decoration: none;
}

.gifs {
  display: flex;
  justify-content: flex-start;
  gap: 100px;           
  position: relative;
  flex-direction: column;
  width: 200px;
  height: auto;
  border-radius: 100%;
}

a {
  font-family: "Syne Mono", monospace;
  color: whitesmoke;
  font-size: 100%;
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 0%;
}

h3 {
  font-family: "Syne Mono", monospace;
  color: whitesmoke;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  width: 0;
  animation: typing 2s steps(30) forwards, blink 0.75s step-end infinite;
}

#linea-1 { 
  animation-delay: 0%; 
}

#linea-2 { 
  animation-delay: 50%; 
}

#linea-3 { 
  animation-delay: 100%; 
}

@keyframes typing {
  from { width: 0%; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}